<nav>
  <div class="main">
    <a href="#"><h3 class="title">TECH<span class="text-indigo-600">VERSE</span></h3></a>
    <div class="hamburger-icon" (click)="viewNavigation()" >
      <i class="bi bi-list"></i>
    </div>
  </div>


  <div class="navlinks">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a>
    <a routerLink="/home" fragment="categories" >Categories</a>
    <a routerLink="/products" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Products</a>
    <a routerLink="/" fragment="contact" >Contact</a>
  </div>

  <div class="navicons">

    <a href="#" class="">
      <i class="fas fa-shopping-cart fa-lg" ></i>
      <span class="inline-flex items-center justify-center w-2 h-2 p-1 mb-3  font-semibold text-gray-800 bg-gray-100 rounded-full dark:bg-indigo-600 dark:text-gray-300">


      </span>
    </a>


    <a href="#" class="">
      <i class="fas fa-user fa-lg"></i>
    </a>
  </div>

</nav>

