<div id="categories" class="container">
  <div class="category">
    <i class="bi bi-phone"></i>
    <p>Phones</p>
  </div>

  <div class="category">
    <i class="bi bi-camera"></i>
    <p>Cameras</p>
  </div>

  <div class="category">
    <i class="bi bi-controller"></i>
    <p>Games</p>
  </div>

  <div class="category">
    <i class="bi bi-laptop"></i>
    <p>Laptops</p>
  </div>

  <div class="category">
    <i class="bi bi-smartwatch"></i>
    <p>Accessories</p>
  </div>

  <div class="category">
    <i class="bi bi-tv"></i>
    <p>Televisions</p>
  </div>

  <div class="category">
    <i class="bi bi-headphones"></i>
    <p>Audio</p>
  </div>

  <div class="category">
    <img src="/assets/images/drone.png" alt="">

    <p>Drones</p>
  </div>


</div>
