.container{
  display: flex;
  justify-content: space-between;
  padding:  40px 60px;
  margin-bottom: 40px;
}

.offer{
  background-color: #F5F5F7;
  padding:20px;
  border-radius: 20px;
  height: 190px;
  width:530px;
  .drone{
    max-width:400px
  }
  .ps5{
    margin-left: 80px;
    padding-right: 30px;
    max-width:500px
  }
  h4{
    font-size: 25px;
    margin-bottom: 50px;
  }
  display: flex;
  justify-content: center;

}


.show-more{
  color:#2551C5
}
