<div class="container">
  <div class="offer">
    <div>
      <h4>Biggest collection of drones</h4>
      <a href="" class=" text-indigo-600">show more <i class="fa fa-arrow-right"></i></a>
    </div>

    <img class="drone" src="/assets/images/bdrone.png" alt="">
  </div>

  <div class="offer">
    <div>
      <h4>Best accessories for gaming</h4>
      <a href="" class=" text-indigo-600">show more <i class="fa fa-arrow-right"></i></a>
    </div>
    <img class="ps5" src="/assets/images/joystick-bg.png" alt="">
  </div>
</div>
