<div class="container">
  <div class="description">
      <p class="offer"><span class="text-indigo-600">Exclusive</span> Deals <span>🎉</span></p>
      <h1 class="headline">Empower Your <span class="text-indigo-600">Tech</span> Journey: <br>Discover Cutting-Edge Tools <br> for Every Innovator!</h1>

      <p>All of your needs in one uni<span class="text-indigo-600">verse</span></p>
      <div class="btn-container bg-indigo-600">
        <a href="#" class="shop-now-btn">Shop Now <i class="fa fa-arrow-right"></i>
        </a>
      </div>

  </div>
</div>
